provider "openstack" {
  user_name   = "{{ username }}"
  tenant_name = "{{ projectname }}"
  auth_url    = "https://identity.openstack.cloudvps.com:443/v3"
}


resource "openstack_networking_network_v2" "network_{{ clustername }}" {
  name           = "network_{{ clustername }}"
  admin_state_up = "true"
}

resource "openstack_networking_subnet_v2" "subnet_{{ clustername }}" {
  name       = "subnet_{{ clustername }}"
  network_id = "${openstack_networking_network_v2.network_{{ clustername }}.id}"
  cidr       = "{{ subnetcidr }}"
  ip_version = 4
}

resource "openstack_networking_router_v2" "k8s_{{ clustername }}_router" {
  name             = "k8s_{{ clustername }}_router"
  external_gateway = "f9c73cd5-9e7b-4bfd-89eb-c2f4f584c326"
}

resource "openstack_networking_router_interface_v2" "k8s_{{ clustername }}_router_interface" {
  router_id = "${openstack_networking_router_v2.k8s_{{ clustername }}_router.id}"
  subnet_id = "${openstack_networking_subnet_v2.subnet_{{ clustername }}.id}"
}

resource "openstack_networking_secgroup_v2" "secgroup_{{ clustername }}-1" {
  name        = "secgroup_{{ clustername }}-1"
  description = "K8s Security group"
}

resource "openstack_networking_secgroup_rule_v2" "secgroup_{{ clustername }}-1-1" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "4"
  port_range_min    = 1
  port_range_max    = 65535
  remote_ip_prefix  = "{{ subnetcidr }}"
  security_group_id = "${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"
  depends_on = ["openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1"]
}

resource "openstack_networking_secgroup_rule_v2" "secgroup_{{ clustername }}-2-1" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "tcp"
  port_range_min    =  80
  port_range_max    =  80
  remote_ip_prefix  = "0.0.0.0/0"
  security_group_id = "${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"
  depends_on = [
       "openstack_networking_secgroup_rule_v2.secgroup_{{ clustername }}-1-1"
     ]

}

resource "openstack_networking_secgroup_rule_v2" "secgroup_{{ clustername }}-2-2" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "tcp"
  port_range_min    =  443
  port_range_max    =  443
  remote_ip_prefix  = "0.0.0.0/0"
  security_group_id = "${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"
  depends_on = [
       "openstack_networking_secgroup_rule_v2.secgroup_{{ clustername }}-2-1"
     ]
}

resource "openstack_networking_secgroup_rule_v2" "secgroup_{{ clustername }}-2-3" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "tcp"
  port_range_min    =  8081
  port_range_max    =  8081
  remote_ip_prefix  = "0.0.0.0/0"
  security_group_id = "${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"
  depends_on = [
       "openstack_networking_secgroup_rule_v2.secgroup_{{ clustername }}-2-2"
     ]
}

resource "openstack_networking_secgroup_rule_v2" "secgroup_{{ clustername }}-2-4" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "tcp"
  port_range_min    =  22
  port_range_max    =  22
  remote_ip_prefix  = "0.0.0.0/0"
  security_group_id = "${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"
  depends_on = [
       "openstack_networking_secgroup_rule_v2.secgroup_{{ clustername }}-2-3"
     ]
}


resource "openstack_networking_secgroup_rule_v2" "secgroup_{{ clustername }}-3-1" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "tcp"
  port_range_min    =  1
  port_range_max    =  65535
  remote_ip_prefix  = "{{ subnetcidr }}"
  security_group_id = "${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"
  depends_on = [
       "openstack_networking_secgroup_rule_v2.secgroup_{{ clustername }}-2-4"
     ]
}

resource "openstack_networking_secgroup_rule_v2" "secgroup_{{ clustername }}-3-2" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "udp"
  port_range_min    =  1
  port_range_max    =  65535
  remote_ip_prefix  = "{{ subnetcidr }}"
  security_group_id = "${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"
  depends_on = [
       "openstack_networking_secgroup_rule_v2.secgroup_{{ clustername }}-3-1"
     ]
}

resource "openstack_networking_secgroup_rule_v2" "secgroup_{{ clustername }}-3-3" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "icmp"
  remote_ip_prefix  = "{{ subnetcidr }}"
  security_group_id = "${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"
  depends_on = [
       "openstack_networking_secgroup_rule_v2.secgroup_{{ clustername }}-3-2"
     ]
}


resource "openstack_networking_secgroup_rule_v2" "secgroup_{{ clustername }}-4-1" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "tcp"
  port_range_min    =  1
  port_range_max    =  65535
  remote_ip_prefix  = "{{ calicocidr }}"
  security_group_id = "${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"
  depends_on = [
       "openstack_networking_secgroup_rule_v2.secgroup_{{ clustername }}-3-3"
     ]
}

resource "openstack_networking_secgroup_rule_v2" "secgroup_{{ clustername }}-4-2" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "udp"
  port_range_min    =  1
  port_range_max    =  65535
  remote_ip_prefix  = "{{ calicocidr }}"
  security_group_id = "${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"
  depends_on = [
       "openstack_networking_secgroup_rule_v2.secgroup_{{ clustername }}-4-1"
     ]
}

resource "openstack_networking_secgroup_rule_v2" "secgroup_{{ clustername }}-4-3" {
  direction         = "ingress"
  ethertype         = "IPv4"
  protocol          = "icmp"
  remote_ip_prefix  = "{{ calicocidr }}"
  security_group_id = "${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"
  depends_on = [
       "openstack_networking_secgroup_rule_v2.secgroup_{{ clustername }}-4-2"
     ]
}


{% set counter = 10 %}
{% for _ in range(counter, (counter+managers)) %}
resource "openstack_networking_port_v2" "k8s_{{ clustername }}_port_{{ counter + loop.index - 1 }}" {
  name               = "k8s_{{ clustername }}_port_{{ counter + loop.index - 1 }}"
  network_id         = "${openstack_networking_network_v2.network_{{ clustername }}.id}"
  admin_state_up     = "true"
  security_group_ids = ["${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"]

  fixed_ip {
    "subnet_id"  = "${openstack_networking_subnet_v2.subnet_{{ clustername }}.id}"
    "ip_address" = "{{ subnetcidr.rsplit('.', 1)[0] }}.{{ counter + loop.index - 1 }}"
  }
}


resource "openstack_compute_instance_v2" "k8s-{{ clustername }}-node{{ counter + loop.index -1 }}" {
  name      = "k8s-{{ clustername }}-node{{ counter + loop.index - 1 }}"
  availability_zone = "AMS-EQ1"
  image_name  = "Container Linux CoreOS (third-party)"
  flavor_id = "{{ managerimageflavor }}"
  key_pair  = "{{ keypair }}"
  security_groups = ["${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.name}"]
  user_data = "${file("node_{{ subnetcidr.rsplit('.', 1)[0] }}.{{ counter + loop.index -1  }}.yaml")}"

  network {
    name = "${openstack_networking_network_v2.network_{{ clustername }}.name}"
    port = "${openstack_networking_port_v2.k8s_{{ clustername }}_port_{{ counter + loop.index - 1}}.id}"
  }
}

{% endfor %}

{% set counter = 10+managers %}
{% for _ in range(counter, (counter+workers)) %}


resource "openstack_networking_port_v2" "k8s_{{ clustername }}_port_{{ counter + loop.index - 1 }}" {
  name               = "k8s_{{ clustername }}_port_{{ counter + loop.index - 1 }}"
  network_id         = "${openstack_networking_network_v2.network_{{ clustername }}.id}"
  admin_state_up     = "true"
  security_group_ids = ["${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"]

  fixed_ip {
    "subnet_id"  = "${openstack_networking_subnet_v2.subnet_{{ clustername }}.id}"
    "ip_address" = "{{ subnetcidr.rsplit('.', 1)[0] }}.{{ counter + loop.index - 1 }}"
  }
}


resource "openstack_compute_instance_v2" "k8s-{{ clustername }}-node{{ counter + loop.index -1 }}" {
  name      = "k8s-{{ clustername }}-node{{ counter + loop.index - 1 }}"
  availability_zone = "AMS-EQ1"
  image_name  = "Container Linux CoreOS (third-party)"
  flavor_id = "{{ workerimageflavor }}"
  key_pair  = "{{ keypair }}"
  security_groups = ["${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.name}"]
  user_data = "${file("node_{{ subnetcidr.rsplit('.', 1)[0] }}.{{ counter + loop.index -1  }}.yaml")}"

  network {
    name = "${openstack_networking_network_v2.network_{{ clustername }}.name}"
    port = "${openstack_networking_port_v2.k8s_{{ clustername }}_port_{{ counter + loop.index - 1}}.id}"
  }
}

{% endfor %}


resource "openstack_compute_floatingip_associate_v2" "fip_{{ clustername }}_f1" {
  instance_id = "${openstack_compute_instance_v2.k8s-{{ clustername }}-node10.id}"
  floating_ip = "{{ floatingip1 }}"
}


{% if workers > 0  %}

resource "openstack_compute_floatingip_associate_v2" "fip_{{ clustername }}_f2" {
  instance_id = "${openstack_compute_instance_v2.k8s-{{ clustername }}-node13.id}"
  floating_ip = "{{ floatingip2 }}"
}

{% endif %}


resource "openstack_lb_monitor_v2" "{{ clustername }}_monitor_1" {
  pool_id     = "${openstack_lb_pool_v2.{{ clustername }}_pool_1.id}"
  type        = "PING"
  delay       = 20
  timeout     = 10
  max_retries = 5
}

resource "openstack_lb_loadbalancer_v2" "{{ clustername }}_lb_1" {
  name          = "{{ clustername }}_lb_1"
  vip_subnet_id = "${openstack_networking_subnet_v2.subnet_{{ clustername }}.id}"
}

resource "openstack_lb_listener_v2" "{{ clustername }}_listener_1" {
  name            = "{{ clustername }}_listener_1"
  protocol        = "TCP"
  protocol_port   =  443
  loadbalancer_id = "${openstack_lb_loadbalancer_v2.{{ clustername }}_lb_1.id}"
}

resource "openstack_lb_pool_v2" "{{ clustername }}_pool_1" {
  name        = "pool_1"
  protocol    = "TCP"
  lb_method   = "ROUND_ROBIN"
  listener_id = "${openstack_lb_listener_v2.{{ clustername }}_listener_1.id}"
}

{% set counter = 10 %}
{% for _ in range(counter, (counter+managers)) %}

resource "openstack_lb_member_v2" "{{ clustername }}_member_1_{{ loop.index }}" {
  pool_id = "${openstack_lb_pool_v2.{{ clustername }}_pool_1.id}"
  subnet_id = "${openstack_networking_subnet_v2.subnet_{{ clustername }}.id}"
  address = "${openstack_compute_instance_v2.k8s-{{ clustername }}-node{{ counter + loop.index -1 }}.access_ip_v4}"
  protocol_port    = 443
}

{% endfor %}


{% if workers > 0 %}
### Create worker loadbalancer for external traffic.

resource "openstack_lb_monitor_v2" "{{ clustername }}_monitor_2" {
  pool_id     = "${openstack_lb_pool_v2.{{ clustername }}_pool_2.id}"
  type        = "PING"
  delay       = 20
  timeout     = 10
  max_retries = 5
}

resource "openstack_lb_loadbalancer_v2" "{{ clustername }}_lb_2" {
  name          = "{{ clustername }}_lb_2"
  vip_subnet_id = "${openstack_networking_subnet_v2.subnet_{{ clustername }}.id}"
  security_group_ids = ["${openstack_networking_secgroup_v2.secgroup_{{ clustername }}-1.id}"]
  depends_on = [
       "openstack_lb_loadbalancer_v2.{{ clustername }}_lb_1"
     ]
}

resource "openstack_networking_floatingip_v2" "{{ clustername }}_lb_2_floatip_1" {
  pool = "floating"
  port_id = "${openstack_lb_loadbalancer_v2.{{ clustername }}_lb_2.vip_port_id}"
}


resource "openstack_lb_listener_v2" "{{ clustername }}_listener_2" {
  name            = "{{ clustername }}_listener_2"
  protocol        = "TCP"
  protocol_port   =  80
  loadbalancer_id = "${openstack_lb_loadbalancer_v2.{{ clustername }}_lb_2.id}"
}

resource "openstack_lb_listener_v2" "{{ clustername }}_listener_3" {
  name            = "{{ clustername }}_listener_3"
  protocol        = "TCP"
  protocol_port   =  443
  loadbalancer_id = "${openstack_lb_loadbalancer_v2.{{ clustername }}_lb_2.id}"
}

resource "openstack_lb_pool_v2" "{{ clustername }}_pool_2" {
  name        = "pool_2"
  protocol    = "TCP"
  lb_method   = "ROUND_ROBIN"
  listener_id = "${openstack_lb_listener_v2.{{ clustername }}_listener_2.id}"
}

resource "openstack_lb_pool_v2" "{{ clustername }}_pool_3" {
  name        = "pool_3"
  protocol    = "TCP"
  lb_method   = "ROUND_ROBIN"
  listener_id = "${openstack_lb_listener_v2.{{ clustername }}_listener_3.id}"
}


{% set counter = 10+managers %}
{% for _ in range(counter, (counter+workers)) %}

{% if loop.index <= 3 %}
resource "openstack_lb_member_v2" "{{ clustername }}_member_2_{{ loop.index }}" {
  pool_id = "${openstack_lb_pool_v2.{{ clustername }}_pool_2.id}"
  subnet_id = "${openstack_networking_subnet_v2.subnet_{{ clustername }}.id}"
  address = "${openstack_compute_instance_v2.k8s-{{ clustername }}-node{{ counter + loop.index -1 }}.access_ip_v4}"
  protocol_port    = 80
}

resource "openstack_lb_member_v2" "{{ clustername }}_member_3_{{ loop.index }}" {
  pool_id = "${openstack_lb_pool_v2.{{ clustername }}_pool_3.id}"
  subnet_id = "${openstack_networking_subnet_v2.subnet_{{ clustername }}.id}"
  address = "${openstack_compute_instance_v2.k8s-{{ clustername }}-node{{ counter + loop.index -1 }}.access_ip_v4}"
  protocol_port    = 443
}


{% endif %}
{% endfor %}

{% endif %}
