[Global]
region={{ region }}
username={{ username }}
password={{ password }}
auth-url="{{ authurl }}"
tenant-name="{{ projectname }}"
tenant-id={{ tenantid }}
domain-name=Default

[LoadBalancer]
subnet-id=0d4fbfc5-78f2-40c7-ba23-7a88f6d2b1d2
floating-network-id=f9c73cd5-9e7b-4bfd-89eb-c2f4f584c326

[BlockStorage]
bs-version=v2

[Networking]
public-network-name=net-public
ipv6-support-disabled=false

