etcdurls:	{{ etcdendpointsurls }}
K8s version:	{{ k8sver }}
Clustername:	{{ clustername }}
Cluster cidr:	{{ subnetcidr }}
Password:	{{ password }}
Managers:	{{ managers }}
Workers:	{{ workers }}
Manager flavor:	{{ managerimageflavor }}
Worker flavor:	{{ workerimageflavor }}
VIP1:		{{ floatingip1 }}
VIP2:		{{ floatingip2 }}
Dnsserver:	{{ dnsserver }}
Net overlay:	{{ netoverlay }}
RBAC mode:	{{ rbac }}
cloudprovider:	{{ cloudprovider }}
podcidr:	{{ podcidr }}
flannelver:	{{ flannelver }}
etcdver:	{{ etcdver }}
sshkey:		{{ rsakey }}
keypair:	{{ keypair }}
cryptedpass:	{{ cryptedpass }}
avzone:		{{ availabilityzone }}
externalnetid:	{{ externalnetid }}
apidebuglevel:	{{ apidebuglevel }}
defaultsecgrp:	{{ defaultsecuritygroupid }}
proxymode:	{{ proxymode }}
clusterid:	{{ clusterid }}
remoteetcd:	{{ remoteetcd }}

