kubectl config set-cluster {{ floatingip1 }}-cluster --server=https://{{ floatingip1 }} --certificate-authority=./tls/ca.pem
kubectl config set-credentials {{ floatingip1 }}-admin --certificate-authority=./tls/ca.pem --client-key=./tls/admin-key.pem --client-certificate=./tls/admin.pem
kubectl config set-context {{ floatingip1 }}-admin --cluster={{ floatingip1 }}-cluster --user={{ floatingip1 }}-admin 
kubectl config use-context {{ floatingip1 }}-admin

